{
  "presets": [["next/babel"]],
  "plugins": [
    ["@emotion"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@config": "./config",
          "@lib": "./lib",
          "@services": "./services"
        }
      }
    ]
  ]
}
